pre {
  background-color: #f4f4f4;
  border-radius: 3px;
  color: #333;
  font-family: "Courier New", Courier, monospace;
  overflow: auto;
  padding: 16px;
}

pre > code {
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-family: inherit;
  line-height: 1.4em;
  margin: 0;
  white-space: pre;
}

#definitionContent img {
  max-width: 100%;
  height: auto;
}

#definitionContent table {
  max-width: 100%;
  margin: 16px auto;
  border-collapse: collapse;
  border: 1px solid black;
}

#definitionContent th, td {
  border: 1px solid black;
  padding: 8px;
}